
body {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
}

.rh-table {
  width: 100%;
  margin: 20px 0;
}

.rh-tr {
  cursor: pointer;
}

.rh-tr:hover {
  background: #EFEFEF;
}

.rh-warning {
  font-size: 12px;
}

.button-small {
  font-size: 85%;
}

.button-green {
  background: #d3eda3;
  color: #72962e;
}

.button-red {
  background: #EDA3A3;
  color: #962E2E;
}

.button-blue {
  background: rgb(163, 199, 237);
  color: rgb(30, 96, 195);
}

.rh-register-buttons {
  margin-top: 20px;
  clear: both;
}

.rh-register-area-input {
  float: left;
  margin: 10px 20px 10px 0;
  height: 75px;
}
