<h1>RH - Lista de Funcionários</h1>
<span class="rh-warning">* Clique sobre o funcionário para vizualizar detalhes</span>
<table class="pure-table rh-table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>RG</th>
            <th>Folha de pagamento</th>
        </tr>
    </thead>

    <tbody>
        <tr class="rh-tr" ng-repeat="employer in d.employees">
          <td>{{ employer.name }}</td>
          <td>{{ employer.cpf }}</td>
          <td>{{ employer.RG }}</td>
          <td>
            <a href="#/payroll/{{employer._id.$oid}}" class="button-small button-green pure-button">Ver</a>
            <a href="#/payroll/{{employer._id.$oid}}?editable=true" class="button-small button-blue pure-button">Alterar</a>
            <button ng-click="delete(employer._id.$oid)" class="button-small button-red pure-button">Excluir</button>
          </td>
        </tr>
    </tbody>
</table>
<a class="pure-button pure-button-primary" href="#/register">Registrar novo</a>
